# Because OSX
.DS_Store

# Ignore the suggested logging
log.txt

# Ignore all minions but the template.
/provision/salt/minions/*
!provision/salt/minions/_template.conf

# Ignore Web files pulled into the mapped www directory.
/app/*
!app/.gitshow

# Ignore Sublime project files.
*.sublime*

# Ignore PHPStorm project files.
/.idea

# Ignore Vagrant's runtime files.
/.vagrant

