{% include "../templates/head.html" %}
<body>
	<!-- WRAPPING -->
	<div id="jacket">
		<div id="binder" class="fluid folio max-1782 xlarge">
			<!-- CONTENT -->
			<main>
			<!-- Responsive Sections -->
			<section class="row sidebar">
			
				<div class="column one">
					{% include "../pages/"+page+".html" %}
				</div><!--/column-->
			
				<div class="column two">
					{% include "../templates/blocks/sidebar.html" %}
				</div><!--/column-->
			</section>
			</main>
			<!-- /CONTENT -->
			{% include "../templates/blocks/spine.html" %}
		</div><!--/cover-->
	</div><!--/jacket-->
	<!-- /WRAPPING -->
	{% include "../templates/blocks/analytics.html" %}
</body>
</html>